<!-- favorite_lists/add_book.js.erb -->

$('#books-list').append(`
  <div data-book-id="<%= j @book.id %>">
    <p>
      <% if @book.image_url.present? %>
        <img src="<%= j @book.image_url %>" alt="<%= j @book.title %>" class="book-image">
      <% end %>
      <strong>Title:</strong> <%= j @book.title %>
    </p>
    <!-- 他の本の情報もこちらに追加できます -->
    <a href="<%= j remove_book_favorite_list_path(@favorite_list, book_id: @book.id) %>" data-remote="true" data-method="delete">Remove from list</a>
    <hr>
  </div>
`);

// ページをリロード
window.location.reload(true);
