<h1><%= @favorite_list.name %></h1>
<ul>
<% @favorite_list.books.each do |book| %>
  <li>
    <div>
      <p>
        <% if book.image_url.present? %>
          <%= image_tag book.image_url, alt: book.title, class: 'book-image' %>
        <% end %>
        <strong>Title:</strong>
        <%= book.title %>
      </p>

      <p>
        <strong>Author:</strong>
        <%= book.author %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= book.description %>
      </p>

      <p>
        <strong>Recommended:</strong>
        <%= book.recommended %>
      </p>

      <p>
        <strong>Publisher:</strong>
        <%= book.publisher %>
      </p>

      <p>
        <strong>Published date:</strong>
        <%= book.published_date %>
      </p>
    </div>
  </li>
<% end %>
</ul>
 
 <!-- リストの最後にボタンを設置 -->
 <div class="list-actions">
    <%= link_to '戻る', favorite_lists_path, class: 'btn btn-primary'%>  
    <%= link_to '編集', edit_favorite_list_path(@favorite_list), class: 'btn btn-warning'%>
    <%= button_to '削除', favorite_list_path(@favorite_list), method: :delete, data: { confirm: 'この本をお気に入りから削除してもよろしいですか？' }, class: 'btn btn-danger' %>
 </div>