<p style="color: green"><%= notice %></p>

<% if @book.image_url.present? %>
  <%= image_tag @book.image_url, alt: @book.title, class: 'book-image' %>
<% end %>


<%= render @book %>

<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", books_path %>

  <%= button_to "Destroy this book", @book, method: :delete %>
</div>
