<h1>投稿一覧</h1>

<%= form_with url: posts_path, method: :get, local: true do %>
  <%= label_tag :search, "キーワード検索:" %>
  <%= text_field_tag :search, params[:search] %>

  <%= label_tag :user_id, "ユーザーを選択:" %>
  <%= select_tag :user_id, options_from_collection_for_select(current_user.following, "id", "name", params[:user_id]), include_blank: "全てのユーザー" %>
  
  <%= submit_tag "絞り込む", name: nil %>
<% end %>

<% @posted_favorite_lists.each do |list| %>
  <h2>
   <%= link_to list.name, post_path(list) %> 
    (投稿者: <%= list.user.name %> 
    <% unless current_user.following.include?(list.user) %>
      <%= button_to 'フォローする', follow_user_path(list.user), method: :post, class: 'btn btn-primary' %>
    <% else %>
      <%= button_to 'フォローを外す', unfollow_user_path(list.user), method: :delete, class: 'btn btn-danger' %>
    <% end %> 
    投稿日時： <%= list.created_at.strftime('%Y-%m-%d %H:%M:%S') %>)
  </h2>
  <p><strong>リストの説明:</strong> <%= list.description %></p>
  <ul>
    <% list.books.each do |book| %>
      <li>
        <div>
          <p>
            <% if book.image_url.present? %>
              <%= image_tag book.image_url, alt: book.title, class: 'book-image' %>
            <% end %>
            <strong>Title:</strong> <%= book.title %>
          </p>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
